@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
}
  
main {
    display: flex;
}

body {
  background-image: url("https://media.istockphoto.com/id/1227598160/vector/seamless-retro-abstract-shapes-background.jpg?s=612x612&w=0&k=20&c=WHHStjD2Sai8yih1wnakp_lfbZ4rKhZanQ2PzkjfuSw=");
  background-color: white;
}

.bg-image {
  height: 50%;
}

img {
  padding: 10px;
}

.topnav {
  overflow: hidden;
  background-color: black;
  display: flex;
  align-items: center;
  font-weight: bold;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a.contact {
  float: right;
  background-color: #04AA6D;
  color: white;
}

.topnav a.contact:hover {
  background-color: #04AA6D;
  color: black;
}

  .container {
    padding:20px 100px;
  }

  .container2 {
    padding: 20px;
  }

  .table {
    text-align: center;
    background-color:white;
    padding-left: 70px;
    padding-right: 70px;
    padding-bottom: 70px;
    padding-top: 30px;
  } 


  .table, th, td {
    border:1px solid black;
  }

  .table img:hover {
    background-color: rgb(182, 179, 179);
  }